h1
{
    color:darkseagreen;
    font-size: 50px;
    font-family: "Monaco", "Courier New", monospace;
    text-align: center;
}
h3
{
    color: white;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
body
{
    background-color: black;
    font-size: 17px;
    text-align: center;
}
h4
{
    color:darkseagreen;
    text-align:left;
    font-family: "Monaco", "Courier New", monospace;
}
li
{
    text-align: left;
}

p
{
    color: white;
}

figcaption
{
    color:white;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkseagreen;
  text-align: left;
  font-family: "Monaco", "Courier New", monospace;
  letter-spacing: 1px;
  color: #09142e;
  font-size: 20px;
}

li.navbar {
  float: left;
}

li.navbar a {
  display: block;
  color: #09142e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbar a:hover {
  color: #a4def9;
  background-color: #09142e;
}
li a, .dropbtn {
  display: inline-block;
  color: #09142e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #09142e;
  color: #a4def9;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkseagreen;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #09142e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
background-color: #09142e;
color: #a4def9;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}